/* sets font family accross page */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* var custom colors */
:root {
  --primary-color: #0e538d;
  --secondary-color: #eff2f3;
}
/* styles section banner  */
.banner {
  background-image: url("assets/images/gradienta-OzfD79w8ptA-unsplash.jpg");
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 32px;
}
/* styles text box in banner and images */
.box-text {
  color: black;
  font-size: 30px;
  padding: 10px;
  border: 1px solid white;
  background-color: white;
  margin-right: 50px;
  opacity: 0.6;
}

/* positions text box in images */
.bottom-left {
  position: absolute;
  bottom: 60px;
  left: 10px;
}

/* styles header */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background: var(--secondary-color);
  opacity: 0.9;
}
.header-item{
  flex:1;
}
ul {
  list-style-type: none;
  margin-left: 45px;
}

li {
  padding-left: 20px;
  margin-right: 40px;
  display: inline-block;
}

/* custom bottom border for anchor tags */
a {
  color: rgb(29, 32, 33);
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 4px solid var(--primary-color);
}

/* divides into section by row */
.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.mini-row {
  display: flex;
  flex-direction: row;
}

/* styles left side of page */
.column-left {
  flex: 1;
  border-right: 4px solid var(--primary-color);
  font-size: 30px;
  max-width: 300px;
  min-width: 300px;
  text-align: end;
  padding-right: 10px;
  margin-right: 30px;
}

.column-right {
  flex: 2;
  justify-content: center;
}
/* positions for projects */
.column-photo {
  flex: 2;
  justify-content: center;
}
/* styles hero image under work section */
.main-img {
  width: 100%;
  border: 5px solid var(--primary-color);
}
/* styles future projects */
.mini-img {
  width: 100%;
  height: 100%;
  border: 5px solid var(--primary-color);
}

/* styles image with custom frame */
.frame {
  margin: 0px 15px 15px;
  padding: 5px 5px;
  position: relative;
}
/* positions contact section */
.contact-me-container {
  display: flex;
  justify-content: space-around;
}

/* sets margins for items in contact me */
.contact-me-item {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

/* Footer styling */
footer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

/* style based on device */
@media only screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    flex-direction: column;
  }
}
